<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="webFolder" value="c:\temp"/>
    <add key="csvFolder" value="c:\temp"/>
    <!--D:\GNUB\WebSites\GNUBService" /-->
    <add key="GNUBProxy" value="http://gnub.bishopmuseum.org/" />
  </appSettings>
  <connectionStrings>
    <add name="GNUBAdminEntities" connectionString="metadata=res://*/GNUBAdmin.csdl|res://*/GNUBAdmin.ssdl|res://*/GNUBAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DEVSERVER05;Initial Catalog=GNUB;User Id=gnub_user;password=gnub_user;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GNUBEntities" connectionString="metadata=res://*/GNUB.csdl|res://*/GNUB.ssdl|res://*/GNUB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=devserver05;Initial Catalog=GNUB;User Id=gnub_user;password=gnub_user;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GNUB" connectionString="Data Source=gnub;Initial Catalog=GNUB-ZB;User Id=gnub_user;password=gnub01" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>  
        <behavior name="RestServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="false" />          
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">          
          <webHttp />                   
        </behavior>        
      </endpointBehaviors>
      
    </behaviors>    
    <services>
      <service behaviorConfiguration="RestServiceBehavior" name="GNUBService.NamesRESTService">
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="GNUBService.INamesREST">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="restBinding" maxReceivedMessageSize="1000000000" >
          <readerQuotas maxStringContentLength="1000000000"/>
        </binding>
        
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="names" patternSyntax="Wildcard">
          <match url="names/*" />
          <action type="Rewrite" url="NamesRESTService.svc/{R:0}" />
        </rule>
        <rule name="name" patternSyntax="Wildcard" stopProcessing="false">
          <match url="name/*" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="NamesRESTService.svc/{R:0}" appendQueryString="true" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="svc-Integrated" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="svc-ISAPI" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
    </handlers>
  </system.webServer>
</configuration>
