<?xml version="1.0" encoding="UTF-8" ?>
<request 
    xmlns="http://rs.tdwg.org/tapir/1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://rs.tdwg.org/tapir/1.0 
                        http://rs.tdwg.org/tapir/1.0/schema/tapir.xsd">
  <header>
    <source sendtime="2005-11-11T12:23:56.023+01:00">
      <software name="tapir_client.aspx" version="1.0"/>
    </source>
  </header>
  <search count="true" start="0" limit="20" envelope="false">
    <outputModel>
      <structure>
        <xs:schema location="http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
               xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd"/>

      </structure>
      <indexingElement path="/OAI-PMH/ListMetadataFormats/metadataFormat"/>
      <mapping>
        <node path="/OAI-PMH/request/@verb">
          <literal value="ListMetadataFormats"/>
        </node>
        <node path="/OAI-PMH/responseDate">
          <variable name="date"/>
        </node>
        <node path="/OAI-PMH/ListMetadataFormats/metadataFormat/metadataPrefix">
          <concept id="http://www.openarchives.org/OAI/2.0/oai:OAI-PMH/oai:ListMetadataFormats/oai:metadataFormat/oai:metadataPrefix"/>
        </node>
        <node path="/OAI-PMH/ListMetadataFormats/metadataFormat/schema">
          <concept id="http://www.openarchives.org/OAI/2.0/oai:OAI-PMH/oai:ListMetadataFormats/oai:metadataFormat/oai:schema"/>
        </node>
        <node path="/OAI-PMH/ListMetadataFormats/metadataFormat/metadataNamespace">
          <concept id="http://www.openarchives.org/OAI/2.0/oai:OAI-PMH/oai:ListMetadataFormats/oai:metadataFormat/oai:metadataNamespace"/>
        </node>
      </mapping>
    </outputModel>
  </search>
</request>
