<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TestWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings><add key="TestWebService.IXFWeb.Fungus" value="http://www.indexfungorum.org/IXFWebService/Fungus.asmx"/></appSettings>
    <applicationSettings>
        <TestWebService.Properties.Settings>
            <setting name="TestWebService_IXFWeb_Fungus" serializeAs="String">
                <value>http://www.indexfungorum.org/IXFWebService/Fungus.asmx</value>
            </setting>
        </TestWebService.Properties.Settings>
    </applicationSettings>
</configuration>
